{% extends 'account/base.html' %}
{% block style %}
<style>

</style>
{% endblock %}
{% block body%}
{% load static %}

<div class="d-flex justify-content-center align-items-center" style="height: 85vh;">

    <div>
        <div class="d-flex justify-content-center">
            <img width="50%" src="{% static 'account/images/computer.gif' %}" />
        </div>
        <h1 class="text-center">Welcome To Ship Bay!</h1>
        <div class="d-flex justify-content-center">
            <a href="{% url 'gameLogics:showBuyableShips' %}" style="text-decoration: none;" class="d-flex justify-content-center px-4">
                <button class="btn btn-warning mt-4">🚀Buy Ship</button>
            </a>
            <a href="{% url 'gameLogics:repair' %}" style="text-decoration: none;" class="d-flex justify-content-center px-4">
                <button class="btn btn-danger mt-4">🔧Repair Ship</button>
            </a>
        </div>
    </div>

</div>

{% endblock %}